

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* ------------------------ 
    top header section 
---------------------------*/

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D25A0;
    padding: 10%
}

/* .half-width{
    width: 50%;
} */

.header-title{
    color: white;
    font-size: 64px;
    font-weight: 700px;
    line-height: 80px;
}

.button{
    width: 168px;
    height: 44px;
}

.pink-button{
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 24px;
}

.banner-image img{
    width: 100%;
    /* width: 556px;
    height: 438px; */
}






/* --------------------------------------------------------------------
                            Media Queries 
-----------------------------------------------------------------------*/

/* Mobile Devices */
    
@media only screen and (max-width:688px){
    .container{
        width: 100%;
        
    }

    .top-header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}



/* Tablet device */

@media only screen and (min-width: 668px) and (max-width:992px) {

    .container{
        width: 100%;
        
    }

    .top-header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}