

/* ------------------------
common classes and utilities
---------------------------*/

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
}

/* ------------------------ 
    top header section 
---------------------------*/

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D25A0;
    padding: 10%;
    
}

/* .half-width{
    width: 50%;
} */

.header-title{
    color: white;
    font-size: 64px;
    font-weight: 700px;
    line-height: 80px;
}

.button{
    width: 168px;
    height: 44px;
}

.pink-button{
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 24px;
}

.banner-image img{
    width: 100%;
    /* width: 556px;
    height: 438px; */
}


/* ------------------------ 
    all players section
------------------------ */

.player-section{
    margin-top: 100px;
    margin-bottom: 100px;

}

.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    column-gap: 30px;
    margin-left: 8%;
    margin-right: 8%;
    /* background-color: tomato;  */
}

.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 50px -30px rgba(0,0,0,0.75);
}

.player-name{
    line-height: 40px;
    font-size: 28px;
    font-weight: 700;
}
.player-info{
    color: #6C6C6C;
    line-height: 26px;
}

.player img{
    width: 100%;
}



/* ------------------------ 
    footer section
------------------------ */

footer{
    text-align: center;
}

.social-icons img{
    width: 32px;
    height: 32px;
}






























/* --------------------------------------------------------------------
                            Media Queries 
-----------------------------------------------------------------------*/

/* Mobile Devices */
    
@media only screen and (max-width:688px){
    .container{
        width: 100%;
        
    }

    .top-header, .all-players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}



/* Tablet device */

@media only screen and (min-width: 668px) and (max-width:992px) {

    .container{
        width: 100%;
        
    }

    .top-header, .all-players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}